{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class='container'>
<h1>Voir categories</h1>
    
<h3>le nom de la catégorie : {{category.name}}</h3>

</div>

{% endblock %}